extends layout

block content
  //- ==================================================
  //- DEBUGGING INTERFACE 
  //- ==================================================

  div#debugInterface
   div.container-fluid
    h5 Debug Interface
    div.row
     div.col-xs-4
      h5 VisJS
      p Current Node ids:
       span#d_CurrentNodeIdsVis
      p Current Edges ids:
       span#d_CurrentEdgeIdsVis
     div.col-xs-4
      h5 OrientDB
      p Current Node ids:
       span#d_CurrentNodeIdsOrient
      p Current Edges ids:
       span#d_CurrentEdgeIdsOrient
      p Current User:
       span#d_CurrentUser
      p Current Project:
       span#d_CurrentProject
     div.col-xs-4
      h5 Recent Actions

  //- ==================================================
  //- HUD 
  //- ==================================================

  nav(class="navbar navbar-inverse bg-inverse fixed-top navbar-expand-md")
   button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
   a(class="navbar-brand " href="#")
    i(class="fa fa-circle-o")
    | A Pattern Interface
   div(class="collapse navbar-collapse" id="navbarNav")
    ul(class="navbar-nav ml-auto")
     li(class="nav-item" id='userinfo')
      a(class="nav-link")
       i(class='fa fa-user-o' id='usericon')
       span(id='userNameLabel')
        | User
      a(class="nav-link" href='#' id='logoutLink')
       | Logout
     li(class="nav-item" id='loginRegister')
      a(class="nav-link" href='#' id='loginLink')
       | Login
      a(class="nav-link" href='#' id='registerLink')
       | Register
     li(class="nav-item" id="searchLi")
      a(class='nav-link' href='#')
       i(class='fa fa-search' id='searchPatternIcon')
     li(class="nav-item" id="projectSelection")
      form(class="form-inline")
       select(class="form-control form-control-sm" id="userprojects")
        option Select Project..

  div#hud
   div.container-fluid
    //- add Node
    //-
    div(class='row justify-content-center')
     a(href='#', class='', id='addNode')
      i(class='fa fa-2x fa-plus-circle')
    //- HUD
    //- delete Nodes
    //-
    div(class='row justify-content-center')
     a(href='#', class='disabled', id='deleteNodes')
      i(class='fa fa-2x fa-minus-circle')
    //- HUD
    //- edit Node
    //-
    div(class='row justify-content-center')
     a(href='#', class='disabled', id='editNode')
      i(class='fa fa-2x fa-pencil')
    //- HUD
    //- connect Nodes
    //-
    div(class='row justify-content-center')
     a(href='#', class='disabled', id='connectNodes')
      i(class='fa fa-2x fa-exchange')
    //- HUD
    //- swap edge direction
    //-
    div(class='row justify-content-center')
     a(href='#', class='disabled', id='swapEdge')
      i(class='fa fa-2x fa-reply')
    //- HUD
    //- canvas Control line #1
    //-
    div(class='row justify-content-center', id='canvasControl')
     div.col-4
     div.col-4
      a(href='#', class='', id='canvasUp')
       i(class='fa fa-2x fa-angle-up')
     div.col-4
    //- HUD
    //- canvas Control line #2
    //-
    div(class='row justify-content-center', id='canvasControl')
     div.col-4
      a(href='#', class='', id='canvasUp')
       i(class='fa fa-2x fa-angle-left')
     div.col-4
     div.col-4
      a(href='#', class='', id='canvasUp')
       i(class='fa fa-2x fa-angle-right')
    //- HUD
    //- canvas Control line #3
    //-
    div(class='row justify-content-center', id='canvasControl')
     div.col-4
     div.col-4
      a(href='#', class='', id='canvasUp')
       i(class='fa fa-2x fa-angle-down') 
     div.col-4

  div(id='patternWindow')
   div(id='patternRelation')
    h3 Relation:
    p#patternRelationTitleA
    img(id='patternRelationDiagramA') 
    p#patternRelationTitleB
    img(id='patternRelationDiagramB')
    p#relationText Pattern Relation goes here
    form(id='relationForm' name='relationForm' enctype="multipart/form-data" action="/edges" method="PUT")
     textarea(name='Relation' type='text' id='patternRelationTxtArea' placeholder='Pattern Relation goes here')
     button(type='submit' id='saveRelationButton')
      | Save Pattern Relation
     button(type='button' id='cancelRelationButton')
      | Cancel

   div(id='patternContent')
    h3#patternTitle Pattern Title
    p#patternClass Pattern Class
    h5 Observation
    p#patternObservation Observation Text
    h5 Instruction
    p#patternInstruction Instruction Text
    h5 Diagram
    img(id='patternContentDiagram')

   div(id='patternClassEdit')
    div.container-fluid
     div(class='row justify-content-center')
      h3 Manage Pattern Classes
      //- 1) rename classes, delete classes
          2) add classes
      form(id='patternClassForm' name='patternClassForm' enctype="" action="" method="post")
       button(type='submit' id='saveClassEditButton')
        | Save Pattern Classes
       button(type='button' id='cancelClassEditButton')
        | Cancel      

   div(id='patternEdit')
    div.container-fluid
     div(class='row justify-content-center')
      h3 Edit Pattern      
      form
       p Pattern Title:
       input(name='Pattern Title' type='text' id='patternTitleInput' placeholder='Pattern title goes here')
      form(class="form-inline")
       p Pattern Class:<br />
       select(class="form-control form-control-sm" id="patternClassSelect" style="width:100%;")
        option( hidden ) Placeholder
        option Other class
        option(id='managePatternClasses') Manage Classes..
      form
       p Pattern Observation:
       textarea(name='Problem' type='text' id='patternProblemTxtArea' placeholder='Pattern Problem goes here')
      form
       p Pattern Instruction:
       textarea(name='Instruction' type='text' id='patternInstructionTxtArea' placeholder='Pattern Instruction goes here')
      form(id='uploadForm' name='diagramImage' enctype="multipart/form-data" action="/imgUpload" method="post")
       p Pattern Diagram: 
       img(src='' id='patternDiagram')
       input(type="file" id='uploadInput' name='diagramImage')
       button(type='submit' id='saveEditButton')
        | Save Pattern
       button(type='button' id='cancelEditButton')
        | Cancel


  div(id='loginWindow')
   //- Signup Form
   form(id='loginForm' name='login' action='/login' method='post')
    h3 Login
    p Username or E-Mail:
    input(type='text' id='username' name='username' placeholder='Enter username...')
    | <br /> <br />
    p Password:
    input(type='password' id='password' name='password' placeholder='Enter password...')
    | <br /> <br />
    button(type='submit' id='loginButton')
     | Login
    button(type='button' id='cancelLoginButton')
     | Cancel
    | <br /> <br />
    a(href='#' id='goToRegister')
     | Register 
    | - 
    a(href='#' id='forgotpassword')
     | Forgot password?

   //- Login Notice
   div(id='loginNotice')
    h3 Login successful!
    span 
     | Welcome 
    span(id='welcomeName')
     | user
    span
     | ! <br /> <br />
    button(type='button' id='loginDismiss')
     | Get started!

   //- Registration Form
   form(id='registerForm' name='register' action='/local-reg' method='post') 
    h3 Register
    p Username:
    input(type='text' id='regUsername' name='regUsername' placeholder='Enter username...')
    | <br /> <br />
    p E-Mail:
    input(type='text' id='email'  name='email' placeholder='Enter E-mail address...')
    | <br /> <br />
    p Password:
    input(type='password' id='regPassword' name='regPassword' placeholder='Enter password...')
    | <br /> <br />
    p Comfirm Password:
    input(type='text' id='confirmpassword' name='confirmpassword' placeholder='Confirm password...')
    | <br /> <br />
    button(type='submit' id='registerButton')
     | Register
    button(type='button' id='cancelRegisterButton')
     | Cancel
    a(href='#' id='goToLogin')
     | <br /> <br />  Already have an account? <br />Go to login.

   //- Register Notice
   div(id='regNotice')
    h3 Registration successful!
    span 
     | Thank you for registering
    span(id='welcomeNameReg')
     | user
    span
     | ! <br /> <br />
    button(type='button' id='regDismiss')
     | Get started!

   //- Logout Notice
   div(id='logoutNotice')
    h3 Logout successful!
    a(href='#' id='goBackToLogin')
     | Go back to login. 
    p <br /> <br />
    button(type='button' id='logoutDismiss')
     | Dismiss

  div(id='projectWindow')
   div.container-fluid
    div(class='row justify-content-center')
     h3 Manage Projects: 
      span(id='manageProjectsUser') Username

     ul.list-group#projectsTable
      li.list-group-item#projectshead
       div.row
        div(class="col-8" style="text-align:left;") Project
        div.col Nodes
        div.col Edges
        div.col Options
      div#projectlist
      li(class='list-group-item' id='projectsTableFooter' style="padding:0;")
       div.row(style='margin-top: 1em;')
        div.col#filtercol
         form.inline-form
          input(type="text" class="form-control" id="projectFilter" placeholder="Type to filter or add projects" autocomplete="off")
        div(class='col' style="text-align: left; display: none;")
         button(id="addProjectButton" type="button" class="btn btn-primary btn-lg btn-block" style='background-color:#107896;')
          i(class="fa fa-plus")
          | Add New
     div.container-fluid
      div.row.d-flex.justify-content-center(style="margin-top: 1em;")
       form
        button(type='button' id='doneProjectButton')
         | Done


  div(id='searchWindow')
   div.container-fluid
    div(class='row justify-content-center')
     h3 Search Pattern
     form(id='searchForm')
      input(name='Search' type='text' id='searchInput' placeholder='Search...')
      button(type='submit' id='submitSearch')
       | Search
      button(type='button' id='cancelSearch')
       | Cancel

  //- ==================================================
  //- VIS NETWORK CONTAINER 
  //- ==================================================
  div#patternLanguage

//-comment